@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: white;
    cursor: default;
}

body{
    background-color: #575351;
    text-align: center;
}

.title{
    font-size: 5.5rem;
    font-weight: 700;
    padding: 15px 0;
}

.device_name{
    font-size: 2rem;
    font-weight: 400;
}

.host_ip{
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
}

p{
    font-size: 1.5rem;
}

.playback_controls{
    margin: 2rem 0;
}

.playback_controls > span{
    font-size: 5rem;
    margin: 0 .5rem;
    cursor: pointer;
}

#volume_track{
    margin: 1rem;
    width: 300px;
}

.inactive{
    display: none;
}

/* #playback_status{
    display: none;
} */