<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Sonos Volume Controller</title>
</head>
<body>
    <form action="save" method="post">
        <h1>SONOS</h1>
        <h2>{{device_name}}</h2>
        <h3>Host: {{host_ip}}</h3>

        <p>Current Volume: <span id="rangeValue">%{{volume}}</span></p>
        <input type="range" id="rangeInput" name="volume_input" value="{{volume}}" min="1">
    </form>

    <script>
        const rangeInput = document.getElementById('rangeInput');

        rangeInput.addEventListener('mouseup', function() {
            submitVolume();
        });

        rangeInput.addEventListener('touchend', function() {
            submitVolume();
        });

        function submitVolume() {
            const value = rangeInput.value;
            document.getElementById('rangeValue').innerText = `%${value}`;

            const formData = new FormData();
            formData.append('volume_input', value);

            fetch('http://{{host_ip}}/save', {
                method: 'POST',
                body: formData
            })
        }
    </script>
</body>
</html>