<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Sonos Volume Controller</title>
</head>
<body>
    <form action="" method="post">
        <h1>SONOS</h1>
        <h2>{{ device_name }}</h2>
        <h3>Host: {{ host_ip }}</h3>

        <p>Current Volume: <span id="currentVolume">%{{ volume }}</span></p>

        <div>
            <a href="" onclick="previousSong()">Previous</a>
            <a href="" onclick="pauseSong()">Pause</a>
            <a href="" onclick="nextSong()">Next</a>
        </div>
        <input type="range" id="newVolume" value="{{ volume }}" min="1" max="100" oninput="updateVolume()">
    </form>

    <script>
        
        function updateVolume() {
            const value = document.getElementById('newVolume').value;
            document.getElementById('currentVolume').innerText = `%${value}`;

            const formData = new FormData();
            formData.append('newVolume', value);

            makeRequest("updateVolume", formData)
        }

        function pauseSong(){
            const formData = new FormData();
            formData.append('pause', "song");

            makeRequest("pause", formData)
        }

        function previousSong(){
            const formData = new FormData();
            formData.append('previous', "song");

            makeRequest("previous", formData)
        }

        function nextSong(){
            const formData = new FormData();
            formData.append('next', "song");

            makeRequest("next", formData)
        }

        function makeRequest(endpoint, formData){
            event.preventDefault();

            fetch(`http://{{ host_ip }}/${endpoint}`, {
                method: 'POST',
                body: formData
            })
        }
    </script>
</body>
</html>